doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.header 
            div.header_top
                    img.header_img(src="https://storage.todayphone.net/upload/config/20210324133509_8373.png")
                    div.menu1 베스트
                    div.menu2 갤럭시 22
                    div.menu3 아이폰 13
                    div.menu4 갤럭시 Z
                    div.menu5 APPLE 
                    div.menu6 삼성전자
                    div.menu7 공짜폰
            
            div.header_bottom

        main.main 

        footer.footer