.header {
    width: 100%;
    height: 155px;
}

.header .header_top {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    
}


.header .header_img {
    width: 108px;
    height: 45px;

    margin-top: 19px;
    margin-left: 70px;
}

.header .header_bottom {
    width: 100%;
    height: 30%;

}
